<div class="p-2 text-white min-h-screen">
  <!-- <h1 class="text-white font-extrabold text-3xl">Svotao P2P file sharing</h1> -->
  @if (socketio.socketData$ | async; as socketData) {
  <div class="flex flex-col p-8 gap-2 gap-y-4 items-center">
    <!-- ROOM AND SOCKET INFO -->
    <div class="flex items-center gap-2 group/connection">
      @if (roomUrl$ | async; as roomUrl) {
      <svotao-liquid-glass
        type="host"
        [selected]="false"
        class="w-fit hover:w-[50vh] group/roomUrl absolute"
        containerClass="h-15 w-15 smooth flex items-center justify-between !backdrop-brightness-100 group-hover/roomUrl:!w-[50vh] smooth shrink-0"
      >
        <svotao-liquid-glass
          type="host"
          (click)="copyRoomUrl(roomUrl)"
          [selected]="false"
          containerClass="cursor-pointer !backdrop-brightness-100 "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M17.663 3.118c.225.015.45.032.673.05C19.876 3.298 21 4.604 21 6.109v9.642a3 3 0 0 1-3 3V16.5c0-5.922-4.576-10.775-10.384-11.217.324-1.132 1.3-2.01 2.548-2.114.224-.019.448-.036.673-.051A3 3 0 0 1 13.5 1.5H15a3 3 0 0 1 2.663 1.618ZM12 4.5A1.5 1.5 0 0 1 13.5 3H15a1.5 1.5 0 0 1 1.5 1.5H12Z"
              clip-rule="evenodd"
            />
            <path
              d="M3 8.625c0-1.036.84-1.875 1.875-1.875h.375A3.75 3.75 0 0 1 9 10.5v1.875c0 1.036.84 1.875 1.875 1.875h1.875A3.75 3.75 0 0 1 16.5 18v2.625c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625v-12Z"
            />
            <path
              d="M10.5 10.5a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963 5.23 5.23 0 0 0-3.434-1.279h-1.875a.375.375 0 0 1-.375-.375V10.5Z"
            />
          </svg>
        </svotao-liquid-glass>
        <span
          class="group-hover/roomUrl:pr-4 truncate w-0 pointer-events-none opacity-90 group-hover/roomUrl:w-auto smooth"
          >{{roomUrl}}</span
        >
      </svotao-liquid-glass>
      }
      <div class="size-15 shrink-0"></div>
      <p class="font-bytesized p-2 leading-3">
        <span>ID: {{socketData.userId}}</span>
        <br />
        <span>Room: {{socketData.room}}</span>
        <br />
        <span
          >Peers: {{((socketio.roomData$ | async)?.sockets?.length || 0)
          }}</span
        >
        <br />
      </p>
    </div>

    <!-- UPLOAD BOX -->
    <div
      class="relative p-3 mt-10 group/upload flex flex-col justify-center items-center"
    >
      <div
        class="pointer-events-none size-48 shrink-0 animate-rotating-border absolute -top-1 -left-1 z-10 group-hover/upload:opacity-0 smooth delay-300 group-hover/upload:delay-0"
        *ngIf="!!file.file?.name?.length"
      ></div>
      <svotao-liquid-glass
        type="host"
        class="absolute origin-right z-10"
        [selected]="!!file.file?.name?.length"
        containerClass=" {{!!file.file?.name?.length ? 'size-40 group-hover/upload:size-[20rem] !pointer-events-auto' : 'h-[10rem]  w-[50vh]'}} smooth  flex justify-center items-center overflow-hidden m-1 z-10 "
      >
        <vecholib-upload
          [uploadLabel]="'Drag a file here or click/tap to upload.'"
          (fileChanged)="publishFile($event)"
        ></vecholib-upload>
      </svotao-liquid-glass>
      <div
        class="opacity-0 pointer-events-none"
        [ngClass]="!!file.file?.name?.length ? 'size-40 !pointer-events-auto' : 'h-40  w-[50vh]'"
      ></div>
    </div>
  </div>

  <!-- CONNECTED PEERS -->
  @if(socketio.roomData$ | async; as roomData) {
  <div
    class="flex flex-col p-8 gap-2 gap-y-4 items-center justify-center h-[70vh] overflow-y-hidden relative"
  >
    <svotao-p2p-share-user-avatar
      [user]="socketData.userId"
      [showName]="false"
      class="z-10 size-48 absolute animate__zoomIn animate__animated pointer-events-none"
      [selected]="false"
      [backgroundColor]="roomData.socketsData[socketData.userId].backgroundColor || ''"
    ></svotao-p2p-share-user-avatar>

    <div
      class="ciclegraph shrink-0 animate__zoomIn animate__animated animate__delay-1s"
      #CircleGraph
    >
      @for (peer of roomData?.sockets; track peer.id) {

      <div
        class="circle group/file opacity-0 !duration-500"
        (click)="requestFile(peer.id, roomData.socketsData[peer.id].file.name || '')"
        (keyup.enter)="requestFile(peer.id, roomData.socketsData[peer.id].file.name || '')"
        tabindex="0"
      >
        <div class="float-avatar">
          <!-- USER AVATAR -->
          <svotao-p2p-share-user-avatar
            [user]="peer.id"
            [showName]="false"
            [backgroundColor]="roomData.socketsData[peer.id].backgroundColor || ''"
          ></svotao-p2p-share-user-avatar>
          <!-- FILENAME -->
          <svotao-liquid-glass
            *ngIf="roomData.socketsData[peer.id]?.file?.size"
            type="host"
            [selected]="false"
            class="absolute top-0 left-[80%] text-white shrink-0"
            containerClass="flex  items-center justify-start shrink-0 p-2 cursor-pointer w-10 h-10 group-hover/file:!w-96"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 shrink-0"
            >
              <path
                fill-rule="evenodd"
                d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z"
                clip-rule="evenodd"
              />
              <path
                d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z"
              />
            </svg>
            <span
              class="opacity-0 size-0 group-hover/file:static group-hover/file:opacity-100 group-hover/file:size-full smooth pointer-events-none truncate mx-2 shrink group-hover/file:delay-300"
            >
              {{roomData.socketsData[peer.id].file.name|| 'File'}}
            </span>
          </svotao-liquid-glass>
          <!-- FILE SIZE -->
          <svotao-liquid-glass
            *ngIf="roomData.socketsData[peer.id]?.file?.size"
            type="card"
            [selected]="false"
            class="absolute top-10 left-[80%] text-white shrink-0 scale-75 opacity-0 group-hover/file:opacity-100"
            containerClass="flex  items-center justify-start shrink-0 p-2 cursor-pointer w-10 h-10 group-hover/file:!w-24 smooth delay-300"
          >
            <span
              class="absolute w-4 group-hover/file:static group-hover/file:w-full smooth pointer-events-none truncate mx-2 shrink font-bytesized text-lg"
            >
              {{roomData.socketsData[peer.id].file.size | filesize: 'mb'}}
            </span>
          </svotao-liquid-glass>
        </div>
      </div>

      }
    </div>
  </div>
  } }
</div>
